body{
background-color: white;
display: flex;
justify-content: center;
align-items: center;
height: 1000px;
}

products{
    background-color: aliceblue;
    width: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 300px;
    align-items: center;
}

products{
    background-color: lightcoral;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    flex-basis: 150px;
}
